export("ddst.extr.test")
export("ddst.exp.test")
export("ddst.norm.test")
export("ddst.uniform.test")
importFrom("stats", "pexp", "pnorm", "qnorm", "rexp", "rnorm", "runif")
importFrom("utils", "data")
import("evd")
import("orthopolynom")
